<div id="<%= dom_id aviso %>">
  <%# <p>
    <strong>Id aviso:</strong>
    <%= aviso.id_aviso %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Id socio:</strong> %>
    <%# <%= aviso.id_socio %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Id usuario:</strong> %>
    <%# <%= aviso.id_usuario %>
  <%# </p> %>

  <p>
    <strong>Titulo:</strong>
    <%= aviso.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= aviso.descripcion %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= aviso.categoria %>
  </p>

</div>
