<p style="color: green"><%= notice %></p>

<%= render @hito_2 %>

<div>
  <%= link_to "Edit this hito 2", edit_hito_2_path(@hito_2) %> |
  <%= link_to "Back to hito 2s", hito_2s_path %>

  <%= button_to "Destroy this hito 2", @hito_2, method: :delete %>
</div>
